<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= distributor.first_name %> </h1>
    <h1><%= distributor.last_name %> </h1>
    <h1><%= distributor.username %> </h1>
    <h1><%= distributor.email %> </h1>
    <h1><%= distributor.password %> </h1>
    <h1><%= distributor.repassword %> </h1>
    <h1><%= distributor.address %> </h1>
    <h1><%= distributor.phone %> </h1>
    <h1><%= distributor.id %> </h1>
    <a href="/distributors/profile/edit/<%= distributor.id %> ">
        <button>Editar</button>
    </a>
    <form action="/distributors/profile/delete/<%= distributor.id %> " method="POST">
        <button type="submit">Eliminar cuenta</button>
    </form>
</body>
</html>