<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partials/head.ejs') %>

</head>

<body>

  <%- include('partials/header.ejs') %>

  <%- include('partials/shoppingCart.ejs') %>

  <section class="products_section">

    <br>
<!--
    <button id="buttonShoppingCart-container" onclick="showShoppingCart()" type="button" class="btn btn-light shoppingCartButton">
      <i class="fas fa-cart-plus"></i>
    </button>
  -->

  <%- include('partials/slider.ejs') %> 

  <%- include('partials/products.ejs') %> 


</section> 

<%- include('partials/scripts.ejs') %>
 
</body>
</html>