<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfíl</title>

    <!-- Materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Bootstrap.css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles.css -->
    <link rel="stylesheet" href="/css/main.css">
    
    <script
      src="https://kit.fontawesome.com/16dbabfb07.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <section class="userProfile-section">
        <div class="up-position">
            <h1 class="userProfile-h1">Perfíl de <%= user.first_name %> <%= user.last_name %></h1>
            <div class="userList">
                <ul class="upul">
                    <li class="upli">Nombre: <%= user.first_name %> </li>
                    <li class="upli">Apellido: <%= user.last_name %> </li>
                    <li class="upli">Nombre de usuario: <%= user.username %> </li>
                    <li class="upli">Email: <%= user.email %> </li>
                    <li class="upli">Dirección: <%= user.address %> </li>
                    <li class="upli">Número de teléfono: <%= user.phone %> </li>
                    <% if(user.admin === true) { %>
                        <a href="/admins/list">Ir a sección de admins</a>
                    <% } %> 
                </ul>
            </div>
            
            <div class="up-buttons">
                <a class="up-edit" href="/users/profile/edit/<%= user.id %>  ">
                    <button class="up-button-edit">Editar perfil</button>
                </a>
                <form action="/users/profile/delete/<%= user.id %>?_method=DELETE" method="POST">
                    <button class="up-button-edit" type="submit">Borrar cuenta</button>
                </form>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>