<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de usuarios:</h1>
    <ul>
        <% for(let i=0; i<users.length; i++) { %>
            <li>
                <%= users[i].first_name %> <%= users[i].last_name %> -
                <%= users[i].email %> -
                <%= users[i].phone %> -
                <a href="/admins/create/<%=users[i].id%>">Admin: <%= users[i].admin %></a>
            </li>
        <% } %> 
    </ul>
    
</body>
</html>